<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/base.css' %}">

</head>
<body>

{% include "facebook.html" %}
{% include 'navbar.html' %}
{% include 'messages.html' %}

<div class="container">
{% block content %}

{% endblock content %}
</div>
<script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>





</html>